<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GTP2 GUI Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
			h4 {
				margin: 10px 0px;
			}
			p {
				margin: 0 5px;
			}
			pre {
				white-space: pre-wrap;
			}
			textarea {
				resize: vertical;
			}
			.container {
				display: grid;
				grid-template-columns: auto auto;
			}
			.result {
				background: #dddddd;
				padding: 5px 15px;
				margin-bottom: 15px;
			}
			.explain {
				max-width: 500px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div>
				Home
			</div>
			<ul>
				<li>
					<a href="/model/small">Small</a>
				</li>
				<li>
					<a href="/model/medium">Medium</a>
				</li>
			</ul>
		</div>
	</body>
</html>
